  name: Triage and Remediation Integ

  permissions:
    contents: read
    id-token: write

  on:
    workflow_dispatch: 

  jobs:
    triageAndRemediation:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Run Semgrep
          run: semgrep --config=auto --json > semgrep_results.json
        
        - name: AppSecAI Analysis
          uses: AppSecureAI/submit-run-action@master
          with:
            file: semgrep_results.json
